.cart-container {
    padding: 20px;
    margin: auto;
    font-family: Arial, sans-serif;
    background: rgb(22,69,49);
    background: linear-gradient(90deg, rgba(22,69,49,1) 15%, rgba(28,37,111,1) 100%);
    min-height: 100vh;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-quantity {
    margin: 10px 0;
  }
  
  .cart-item-quantity input {
    width: 50px;
    text-align: center;
    margin-left: 10px;
  }
  
  .remove-item-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .remove-item-button:hover {
    background-color: #c0392b;
  }
  
  .cart-summary {
    margin-top: 20px;
    text-align: right;
  }
  
  .cart-summary h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .checkout-button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #219150;
  }
  